*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea/misc.xml
.idea/compiler.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
.DS_Store
/build
*/build
*/release
/captures
.externalNativeBuild
.cxx
keystore.properties
keystores/
ForwarderApp/src/main/res/raw/mensa_firebase_key
